.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* 배경색을 흰색으로 변경 */
}

.login-form {
    background: white;
    padding: 40px; /* 내부 여백을 넓게 설정 */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: -50px; /* 중앙에서 살짝 위로 올리기 위해 음수 값을 사용 */
    display: flex;
    flex-direction: column;
    align-items: center; /* 아이템을 수직 방향으로 가운데 정렬 */
    width: 25vw; /* 전체 화면의 1/4 크기로 설정 */
    margin: 0 auto; /* 수평 중앙 배치 */
}

.login-logo {
    display: block;
    margin: 0 auto 40px; /* 로고와 ID input 사이의 여백을 두 배로 설정 */
    width: 250px; /* 로고 너비를 설정 */
    height: auto; /* 비율을 유지하면서 높이를 자동으로 조정 */
}

.form-group {
    margin-bottom: 10px; /* form-group 사이의 기본 여백을 줄임 */
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%; /* 버튼 너비를 100%로 설정 */
    max-width: 200px; /* 최대 너비를 설정 (원하는 최대 너비로 조정) */
    padding: 10px; /* 로그인 버튼의 패딩을 두 배로 넓힘 */
    margin-top: 20px; /* 로그인 버튼 위에 여백 추가 */
    border: none;
    background-color: #195d3d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
}

.login-button:hover {
    background-color: grey;
}

.signup-link {
    display: block;
    margin-top: 10px; /* 로그인 버튼 아래에 여백을 줄임 */
    text-align: center;
    color: gray;
    text-decoration: none;
}

.signup-link:hover {
    text-decoration: underline;
}
