.main-container {
    padding: 20px;
    background-color: white;
    text-align: center; /* 전체 내용 가운데 정렬 */
    
  }
  
  .image-container {
    display: flex;
    justify-content: center; /* 이미지를 수평으로 가운데 정렬 */
    margin-top: 300px; /* 이미지와 위의 간격 조정 */
  }
  
  .image {
    width: 350px; /* 이미지 너비를 100%로 설정하여 부모 요소에 맞게 조정 */
    height: 250px; /* 높이 자동 조정 */
    margin-bottom: 100px;
  }
  
  .under_text {
    font-weight: 100; /* 폰트 가중치 설정 */
    margin-left: 40px;
    margin-top: -50px;
    font-size: 15px;
  }
  