.posting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* 수직 정렬을 위쪽으로 변경 */
    height: 100vh;
    background-color: #ffffff;
    padding-top: 200px; /* 위쪽 여백을 200px로 설정하여 헤더와 겹치지 않게 조정 */
}

.pageName-container {
    display: flex;
    justify-content: center; /* 수평 중앙 배치 */
    align-items: center; /* 수직 중앙 배치 */
    height: 100vh; /* 부모 컨테이너의 높이를 설정 */
}

.pageName {
    color: gray;
}

.posting-form {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 25vw; /* 전체 화면의 1/4 크기로 설정 */
    min-width: 300px; /* 너무 작아지지 않도록 최소 너비 설정 */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto; /* 수평 중앙 배치 */
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: gray;
}

.form-group input[type="text"],
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 160px; /* 일반적인 칸보다 5배 크게 설정 (기본 높이의 5배) */
}

.image-upload-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.upload-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: none;
    background-color: #195d3d;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.upload-button:hover {
    background-color: grey;
}
